<?xml version="1.0" encoding="utf-8" ?>
<xml>
    <page>
        <name>轻站</name>
        <type>qm-json</type>
        <list>
            <item>
                <name>1080影视</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200901</version>
                <sign>007815643bc054226cd93b2f570f47a5</sign>
                <url>qm-json/qm_74.json</url>
            </item>
            <item>
                <name>天乐动漫</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200901</version>
                <sign>ddaec7484dd04382ac02694756ff5777</sign>
                <url>qm-json/qm_75.json</url>
            </item>
            <item>
                <name>青春硬盘</name>
                <info>uploaddate:200808 update:200927</info>
                <version>0</version>
                <sign>ea90528e258a9ec22f11c5a560158650</sign>
                <url>qm-json/qm_76.json</url>
            </item>
            <item>
                <name>水蜜桃</name>
                <info>uploaddate:200808 update:200927</info>
                <version>0</version>
                <sign>8a2f6c7c3e75d8896699cc38f6e1a826</sign>
                <url>qm-json/qm_77.json</url>
            </item>
            <item>
                <name>资源采集</name>
                <info>uploaddate:200822 update:200927</info>
                <version>20200921</version>
                <sign>f2be444997aba2a8fcbf4a11f148b8ea</sign>
                <url>qm-json/qm_78.json</url>
            </item>
            <item>
                <name>期刊杂志</name>
                <info>uploaddate:200808 update:200927</info>
                <version>2</version>
                <sign>584fad114521a5ad8f6a9dea7b5573bf</sign>
                <url>qm-json/qm_79.json</url>
            </item>
            <item>
                <name>香蕉视频</name>
                <info>uploaddate:200808 update:200927</info>
                <version>0</version>
                <sign>4055358a678de7e081862c3ade71818a</sign>
                <url>qm-json/qm_80.json</url>
            </item>
            <item>
                <name>提姆正妹</name>
                <info>uploaddate:200808 update:200927</info>
                <version>0</version>
                <sign>c944fb3155e3f2a14ece0edeb3622258</sign>
                <url>qm-json/qm_81.json</url>
            </item>
            <item>
                <name>电影盒子</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200914</version>
                <sign>b3f9e0608682b8a30460935689808eda</sign>
                <url>qm-json/qm_82.json</url>
            </item>
            <item>
                <name>慢车车库</name>
                <info>uploaddate:200808 update:200927</info>
                <version>0</version>
                <sign>637ce75e667e4b633edc6af6650dd792</sign>
                <url>qm-json/qm_83.json</url>
            </item>
            <item>
                <name>百年漫画</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200906</version>
                <sign>4789c30d8c39cfd09322eac312c84eea</sign>
                <url>qm-json/qm_84.json</url>
            </item>
            <item>
                <name>漫客栈漫画</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200909</version>
                <sign>2d4944e685e754ac7a96e742e0de472e</sign>
                <url>qm-json/qm_85.json</url>
            </item>
            <item>
                <name>超星球(CHAOSPACE)</name>
                <info>uploaddate:200808 update:200927</info>
                <version>1</version>
                <sign>a6aa87f3983c7e55fae0397c2f5177d1</sign>
                <url>qm-json/qm_87.json</url>
            </item>
            <item>
                <name>梅花影视</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200904</version>
                <sign>3e044474ec63b1c6bf32fad8d74d9631</sign>
                <url>qm-json/qm_88.json</url>
            </item>
            <item>
                <name>TikTok推荐</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200906</version>
                <sign>89a3778584f32686ee6f4503741a6352</sign>
                <url>qm-json/qm_89.json</url>
            </item>
            <item>
                <name>卧龙影视</name>
                <info>uploaddate:200525 update:200927</info>
                <version>12</version>
                <sign>a4253c55d423ec3383e35077bee76d35</sign>
                <url>qm-json/qm_90.json</url>
            </item>
            <item>
                <name>39漫画</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200905</version>
                <sign>c76bb7b8e8c8b13947850e376fa4eb2f</sign>
                <url>qm-json/qm_91.json</url>
            </item>
            <item>
                <name>爱爱客</name>
                <info>uploaddate:200808 update:200927</info>
                <version>20200905</version>
                <sign>6a8c85417a610c59fa2bf74010362ee4</sign>
                <url>qm-json/qm_92.json</url>
            </item>
            <item>
                <name>小小影视</name>
                <info>uploaddate:200808 update:200927</info>
                <version>4</version>
                <sign>844065432b6997e9e2fda701ffc504fc</sign>
                <url>qm-json/qm_94.json</url>
            </item>
            <item>
                <name>293影院</name>
                <info>uploaddate:200903 update:200927</info>
                <version>20200903</version>
                <sign>cf5a9e15452ba1021185efdad1a214e3</sign>
                <url>qm-json/qm_95.json</url>
            </item>
            <item>
                <name>图意网(移动网络屏蔽)</name>
                <info>uploaddate:200902 update:200927</info>
                <version>20500902</version>
                <sign>64522829585d0cd3352a7a3311bb8baa</sign>
                <url>qm-json/qm_96.json</url>
            </item>
            <item>
                <name>多多漫画</name>
                <info>uploaddate:200831 update:200927</info>
                <version>20200831</version>
                <sign>79054a24dd084ef5e5d5abe2c9d2a343</sign>
                <url>qm-json/qm_97.json</url>
            </item>
            <item>
                <name>四色AV</name>
                <info>uploaddate:200810</info>
                <version>0</version>
                <sign>e23b52729fb5dd758cf63e5aa38cc322</sign>
                <url>qm-json/qm_63.json</url>
            </item>
            <item>
                <name>久草</name>
                <info>uploaddate:200811</info>
                <version>0</version>
                <sign>16771533e928b69b2f9c5f099da4213f</sign>
                <url>qm-json/qm_64.json</url>
            </item>
            <item>
                <name>禁漫天堂(域名)</name>
                <info>uploaddate:200813</info>
                <version>2020813</version>
                <sign>9767ba5a93477d38844a1e67125f10f8</sign>
                <url>qm-json/qm_65.json</url>
            </item>
            <item>
                <name>漫画联合国</name>
                <info>uploaddate:200813</info>
                <version>0</version>
                <sign>918badfeb1ee014ba2d83e5746ce500d</sign>
                <url>qm-json/qm_66.json</url>
            </item>
            <item>
                <name>亿图美女</name>
                <info>uploaddate:200813</info>
                <version>0</version>
                <sign>e6a3609a12e408242e63a5e31d97676b</sign>
                <url>qm-json/qm_67.json</url>
            </item>
            <item>
                <name>中文成人文学网</name>
                <info>uploaddate:200823</info>
                <version>20200823</version>
                <sign>5f8e99bfb63a48365ac4601212d1baf0</sign>
                <url>qm-json/qm_70.json</url>
            </item>
            <item>
                <name>四虎影院</name>
                <info>uploaddate:200827</info>
                <version>0</version>
                <sign>723819b7cedac5cc2c02c757a6490666</sign>
                <url>qm-json/qm_71.json</url>
            </item>
            <item>
                <name>plane</name>
                <info>uploaddate:200827</info>
                <version>0</version>
                <sign>0b90110d495763d538e44fec0ac74283</sign>
                <url>qm-json/qm_72.json</url>
            </item>
            <item>
                <name>狠狠干</name>
                <info>uploaddate:200828</info>
                <version>0</version>
                <sign>e415896ebf024883091f222ce49dcff8</sign>
                <url>qm-json/qm_73.json</url>
            </item>
            <item>
                <name>猫咪(更新)</name>
                <info>uploaddate:200808</info>
                <version>0</version>
                <sign>621b90a30106fe772cec4606236c5cbf</sign>
                <url>qm-json/qm_61.json</url>
            </item>
            <item>
                <name>影视api(更新)</name>
                <info>uploaddate:200808 update:200809</info>
                <version>20200808</version>
                <sign>8e501e61e37e7ceaf716d0d98667ecb3</sign>
                <url>qm-json/qm_62.json</url>
            </item>
            <item>
                <name>BAAX</name>
                <info>uploaddate:200808</info>
                <version>0</version>
                <sign>5bf2101e3082cb2d476aa0fb6708226c</sign>
                <url>qm-json/qm_59.json</url>
            </item>
            <item>
                <name>影视api</name>
                <info>uploaddate:200808</info>
                <version>20200807</version>
                <sign>9e07457ff3c180f333e0dd56c631bfc9</sign>
                <url>qm-json/qm_60.json</url>
            </item>
            <item>
                <name>小车库</name>
                <info>uploaddate:200805</info>
                <version>1</version>
                <sign>da788da279605df77267787e26d5785e</sign>
                <url>qm-json/qm_54.json</url>
            </item>
            <item>
                <name>丝瓜影视(首页可以翻页)</name>
                <info>uploaddate:200804</info>
                <version>1</version>
                <sign>a75f71597c78221110660b533ff43cc5</sign>
                <url>qm-json/qm_55.json</url>
            </item>
            <item>
                <name>大香蕉</name>
                <info>uploaddate:200806</info>
                <version>0</version>
                <sign>0b4916afc8914c1884282d88e231db26</sign>
                <url>qm-json/qm_56.json</url>
            </item>
            <item>
                <name>蜜穴TV</name>
                <info>uploaddate:200803</info>
                <version>0</version>
                <sign>2e9dcbca31ed6d93701e1879afe96c1b</sign>
                <url>qm-json/qm_57.json</url>
            </item>
            <item>
                <name>禁漫天堂</name>
                <info>uploaddate:200803  update：200804</info>
                <version>202084</version>
                <sign>4c48b0d5f902a516643e4d7520766edd</sign>
                <url>qm-json/qm_58.json</url>
            </item>
            <item>
                <name>91Porn</name>
                <info>uploaddate:200728</info>
                <version>0</version>
                <sign>04efcf3568db06d1e590356056d83840</sign>
                <url>qm-json/qm_1.json</url>
            </item>
            <item>
                <name>秘密速递</name>
                <info>uploaddate:200803</info>
                <version>0</version>
                <sign>a1614e0b9ef8e515213ed6272b2d01f6</sign>
                <url>qm-json/qm_2.json</url>
            </item>
            <item>
                <name>美图131</name>
                <info>uploaddate:200727</info>
                <version>0</version>
                <sign>767c339d02f761c1e0c4e03e25ca7684</sign>
                <url>qm-json/qm_3.json</url>
            </item>
            <item>
                <name>色色999</name>
                <info>uploaddate:200728</info>
                <version>0</version>
                <sign>d35c16f589e71b178b680e3c4e60d82a</sign>
                <url>qm-json/qm_4.json</url>
            </item>
            <item>
                <name>2277</name>
                <info>uploaddate:200727</info>
                <version>0</version>
                <sign>39b3465eec28ebb52e78590e81ad1eb3</sign>
                <url>qm-json/qm_5.json</url>
            </item>
            <item>
                <name>七色中文网</name>
                <info>uploaddate:200720</info>
                <version>0</version>
                <sign>dd2c18b9778fd9ce59682718db089abb</sign>
                <url>qm-json/qm_6.json</url>
            </item>
            <item>
                <name>第一版主</name>
                <info>uploaddate:200720</info>
                <version>1</version>
                <sign>c060b6e5a014d66ccd4a733ac5b5e666</sign>
                <url>qm-json/qm_7.json</url>
            </item>
            <item>
                <name>蛋蛋赞</name>
                <info>uploaddate:200716</info>
                <version>0</version>
                <sign>53819dec23e395b726888beab82762eb</sign>
                <url>qm-json/qm_8.json</url>
            </item>
            <item>
                <name>52gaoqing</name>
                <info>uploaddate:200710</info>
                <version>0</version>
                <sign>d1899ef4d1e5b6236e7cc4ed7d4e20ea</sign>
                <url>qm-json/qm_9.json</url>
            </item>
            <item>
                <name>91自拍达人</name>
                <info>uploaddate:200705</info>
                <version>0</version>
                <sign>e9f12a7e04e40244ff496dc33a53aa2c</sign>
                <url>qm-json/qm_10.json</url>
            </item>
            <item>
                <name>美图录</name>
                <info>uploaddate:200618</info>
                <version>2</version>
                <sign>74f288c560bbcdaa31b59edf1d7e647c</sign>
                <url>qm-json/qm_11.json</url>
            </item>
            <item>
                <name>逗号影视</name>
                <info>uploaddate:200603</info>
                <version>1</version>
                <sign>e2f9322634c883f9b62b76b538129d27</sign>
                <url>qm-json/qm_12.json</url>
            </item>
            <item>
                <name>青云资源网</name>
                <info>uploaddate:200603</info>
                <version>4</version>
                <sign>91a59664d343ed04ce0cc7f7135a457d</sign>
                <url>qm-json/qm_13.json</url>
            </item>
            <item>
                <name>优酷视频</name>
                <info>uploaddate:200603</info>
                <version>5</version>
                <sign>6e7c2ff6e6fcf51982c2cab4105f528d</sign>
                <url>qm-json/qm_14.json</url>
            </item>
            <item>
                <name>蒙面大侠</name>
                <info>uploaddate:200603</info>
                <version>1</version>
                <sign>ce0cce05a14a72ebda870664374f3ac1</sign>
                <url>qm-json/qm_15.json</url>
            </item>
            <item>
                <name>剧汇TV</name>
                <info>uploaddate:200603</info>
                <version>6</version>
                <sign>7f6f9be934c340246cb5d50af5f8fa9e</sign>
                <url>qm-json/qm_16.json</url>
            </item>
            <item>
                <name>聚合直播</name>
                <info>uploaddate:200529</info>
                <version>4</version>
                <sign>2569f87544991a8377eceabab0a7adef</sign>
                <url>qm-json/qm_18.json</url>
            </item>
            <item>
                <name>网络直播</name>
                <info>uploaddate:200525</info>
                <version>4</version>
                <sign>e4bf731a5a35b1f109f9867e219f0d5e</sign>
                <url>qm-json/qm_19.json</url>
            </item>
            <item>
                <name>直播源订阅-1222</name>
                <info>uploaddate:200525</info>
                <version>4</version>
                <sign>cd80fa7775868bbbf276fe24da13a0e3</sign>
                <url>qm-json/qm_20.json</url>
            </item>
            <item>
                <name>宅福利</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>c07c59cd8d7c71f29afd476e8f316bb1</sign>
                <url>qm-json/qm_21.json</url>
            </item>
            <item>
                <name>XXOhub</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>346b4e3b837bb0e5c7aadf8322f8771b</sign>
                <url>qm-json/qm_22.json</url>
            </item>
            <item>
                <name>冰豆网</name>
                <info>uploaddate:202522</info>
                <version>4</version>
                <sign>df59b904a55fde45261fb3c26e4c4ee5</sign>
                <url>qm-json/qm_23.json</url>
            </item>
            <item>
                <name>IPTV直播(选择线路)</name>
                <info>uploaddate:202522</info>
                <version>4</version>
                <sign>c34d603122aaa592075baa871cddf14f</sign>
                <url>qm-json/qm_24.json</url>
            </item>
            <item>
                <name>卧龙影视-0409</name>
                <info>uploaddate:202522</info>
                <version>6</version>
                <sign>71ede91df8185068cf34684f2d230257</sign>
                <url>qm-json/qm_25.json</url>
            </item>
            <item>
                <name>斗鱼直播</name>
                <info>uploaddate:202522</info>
                <version>4</version>
                <sign>3e73f8d2663fb36adc29f8770760bb33</sign>
                <url>qm-json/qm_26.json</url>
            </item>
            <item>
                <name>天乐动漫</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>135634b4def57578085092e3374073a8</sign>
                <url>qm-json/qm_27.json</url>
            </item>
            <item>
                <name>绝对领域</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>1ae19ef4fd8d2725f2b75ba369b7e0cf</sign>
                <url>qm-json/qm_28.json</url>
            </item>
            <item>
                <name>魑魅魍魉</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>51a1bfe595b67ae1031f57412f0f73cf</sign>
                <url>qm-json/qm_29.json</url>
            </item>
            <item>
                <name>爱秀美女</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>e955f1c3c4ca20e2b3ca2efb60ff2d4c</sign>
                <url>qm-json/qm_30.json</url>
            </item>
            <item>
                <name>1024浏览(需要VPN)</name>
                <info>uploaddate:202522</info>
                <version>2</version>
                <sign>a1f60677dcc5ad520c0c38a5c0e3f0bd</sign>
                <url>qm-json/qm_31.json</url>
            </item>
            <item>
                <name>美图</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>3621fa82558814945fd080db1f65d953</sign>
                <url>qm-json/qm_32.json</url>
            </item>
            <item>
                <name>电视直播</name>
                <info>uploaddate:202522</info>
                <version>4</version>
                <sign>dbe914c4031070c682e25bc8eea2e495</sign>
                <url>qm-json/qm_33.json</url>
            </item>
            <item>
                <name>音范丝</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>52779cb33d417d4d06e79b8025504c3e</sign>
                <url>qm-json/qm_34.json</url>
            </item>
            <item>
                <name>360影视</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>c15c890a02a0ae5c05252cb7ea227f17</sign>
                <url>qm-json/qm_35.json</url>
            </item>
            <item>
                <name>丝瓜影视</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>b4b147bc522828731f1a016bfa72c073</sign>
                <url>qm-json/qm_36.json</url>
            </item>
            <item>
                <name>p站浏览(需要VPN)</name>
                <info>uploaddate:202522</info>
                <version>200513</version>
                <sign>f1b0ecd56d78910db2d7b72df11cf7c5</sign>
                <url>qm-json/qm_37.json</url>
            </item>
            <item>
                <name>阿七美图馆</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>0d8ca213bf2656a4604f60e53817a036</sign>
                <url>qm-json/qm_38.json</url>
            </item>
            <item>
                <name>肆虎影院</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>561453e828071133fba324348159e5bf</sign>
                <url>qm-json/qm_39.json</url>
            </item>
            <item>
                <name>寻欲宫</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>3f9f659220ef938296706553b6de762e</sign>
                <url>qm-json/qm_40.json</url>
            </item>
            <item>
                <name>HeiHub</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>2718aa6b68482de7c64785b9181ace63</sign>
                <url>qm-json/qm_41.json</url>
            </item>
            <item>
                <name>豆瓣影视库(卧龙+小小)</name>
                <info>uploaddate:202522</info>
                <version>6</version>
                <sign>6fbd53191ff4ebae9ff9f0c50dd2e88c</sign>
                <url>qm-json/qm_42.json</url>
            </item>
            <item>
                <name>索然无味</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>2e2e3428f31e6b0b79850cc2bf23829d</sign>
                <url>qm-json/qm_43.json</url>
            </item>
            <item>
                <name>辣女神</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>7e378aec3b8357aa04874cde62bf48e1</sign>
                <url>qm-json/qm_44.json</url>
            </item>
            <item>
                <name>Adc影院</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>8867d014b89f492b11a6ce39a6cdd6fe</sign>
                <url>qm-json/qm_45.json</url>
            </item>
            <item>
                <name>恋恋影视</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>a1ed8676b9fbf401f48ad13a42b89ea4</sign>
                <url>qm-json/qm_46.json</url>
            </item>
            <item>
                <name>草草影院</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>775b988745763336dfa58d3ecc7790fc</sign>
                <url>qm-json/qm_47.json</url>
            </item>
            <item>
                <name>qmh8(需要VPN)</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>452a3e04dec23bcfeb0c8070a60a422e</sign>
                <url>qm-json/qm_48.json</url>
            </item>
            <item>
                <name>虎牙直播-0503</name>
                <info>uploaddate:202522</info>
                <version>5</version>
                <sign>95a948ec7ccc04996bcd420eaed95ebe</sign>
                <url>qm-json/qm_49.json</url>
            </item>
            <item>
                <name>秋名山车库</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>1cd419840cd1ae81bfe9dc0b979a1ea5</sign>
                <url>qm-json/qm_50.json</url>
            </item>
            <item>
                <name>爱草贝贝</name>
                <info>uploaddate:202522</info>
                <version>0</version>
                <sign>c4226d7b5510d6223353be88cf067491</sign>
                <url>qm-json/qm_51.json</url>
            </item>
            <item>
                <name>影视猫-0429</name>
                <info>uploaddate:202522</info>
                <version>6</version>
                <sign>125efc8ced4bece5c29e5b3d209684af</sign>
                <url>qm-json/qm_52.json</url>
            </item>
            <item>
                <name>javtc</name>
                <info>uploaddate:202522</info>
                <version>1</version>
                <sign>0ce90cccde957cd664d4c3d2aad38fa8</sign>
                <url>qm-json/qm_53.json</url>
            </item>
        </list>
    </page>
</xml>



